{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<link type="text/css" href="{% static 'lenses/main.css' %}" rel="stylesheet"> 
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
	<div id="header">
		<h1>Gravitationally Lensed Quasars Database</h1>
	</div>

	<div id="leftmenu">
		<ul>
			<li><a href="/lenses/"> Main </a> </li>
			<li><a href="/lenses/table"> Table </a> </li>
			<li><a href="/lenses/search"> Search </a> </li>
			<li><a href="/lenses/links"> Links </a> </li>
			<li><a href="/lenses/contacts"> Contacts </a> </li>
		</ul>
	</div>

	<div id ="main">
		{% block content %}	
		{% endblock %}
	</div>

    
    {% block footer %}
    <hr>
    <p>Thanks for visiting my site.</p>
    {% endblock %}
</body>
</html>