{% extends "lenses/base.html" %}
{% block title %}Links {% endblock %}

{% block content %}
Gravitational lens Databases
<br>
<p><a href="https://www.cfa.harvard.edu/castles/"> CASTLES Survey </a></p> 
<p><a href="http://www-utap.phys.s.u-tokyo.ac.jp/~sdss/sqls/index.html">SDSS Quasar Lens Search (SQLS) </a></p>
<p><a href="http://www.physics.utah.edu/~bolton/slacs/Home.html">SLACS: The Sloan Lens ACS Survey</a></p>
<br>
Gravitationnaly lensing research links
<br>
<p><a href="http://grupos.unican.es/glendama/">Gravitational Lenses (GL) at the University of Cantabria (UC) </a> </p>
<p><a href="http://www.cosmograil.org/">COSmological MOnitoring of GRAvItational Lenses</a></p>
{% endblock %}