{% extends "lenses/base.html" %}
{% load static %}

{% block title %}Gravitationally Lensed Quasar Database{% endblock %}

{% block content %}
<p>
<table>
<tr>
<img src= "{% static 'lenses/caustic.jpg' %}"  width="633" height="405" align="right">
Welcome to the main page of the Gravitationally Lensed Quasars (GLQ) Database. This database draws upon the <a href="https://www.cfa.harvard.edu/castles/"> CASTLES Survey </a> and the <a href="http://www-utap.phys.s.u-tokyo.ac.jp/~sdss/sqls/index.html">SQLS</a> gravitationally lensed quasar catalogs and includes some recently discovered GLQs. It features astrometric and photometric information exclusively about confirmed gravitationally lensed quasars. Note that it does not include static variability lensing objects, such as galaxy-galaxy lenses or weak lensing objects.
<table>
</p>
{% endblock %}